Thank you for reaching out to me. I use a service called Relevance to screen cold outreach and make sure that I respond to appropriate opportunities.

If you'd like to reach me, please click the link and submit a request there.

{{ front-end-base-url }}/{{ public-link }}

Have a great day!
{{ first-name }}
